<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAIL Archive Search</title>
</head>
<style>
    body {
            display: flex;
            justify-content: center;
            width: 100%;
        }
</style>
<body>
    <div style="width: 70%;">
        <h1>GAIL Archive Search Portal</h1>
        <div>
            <a href="/upload">Upload Documents</a>
            <a href="/search">Search Docs</a>
        </div>
    </div>
    
</body>
</html>