<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Documents</title>
</head>
<body>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Upload Document files:</h1>
            <p>supported file types : pdf, txt, html</p>
            <input onclick="resetProgress()" type="file"  id="file" name="file" accept=".pdf,.txt" multiple required>
            <input onclick="resetProgress()" type="submit" value="Upload">
            <br>
            <br>
        </form>
        <div id="uploadSec" style="margin-top: 20px; width: 50%; display: none;">
                <progress id="uploadProgress" value="0" max="100" style="width: 100%; display: inline;"></progress>
                <p id="uploadStatus">Upload progress: 0%</p>
        </div>
        <!-- {% if message %}
            <p>{{ message }}</p>
            {% if failed_files %}
                <p>Failed files:</p>
                <ul>
                    {% for file in failed_files %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %} -->
        <p>Please note: Uploading a large number of files may temporarily slow down the site.<br> allow a few minutes for the process to complete before navigating away from the page</p>

    </div>
    <div>
        <a href="/">Back to Home</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission
            document.getElementById('uploadSec').style.display="inline";
            var formData = new FormData(this);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);
    
            // Update the progress bar
            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    var progress = document.getElementById('uploadProgress');
                    var status = document.getElementById('uploadStatus');
                    progress.value = percentComplete; // Update the progress bar value
                    status.innerHTML = 'Upload progress: ' + Math.round(percentComplete) + '%'; // Update the status text
                    if(Math.round(percentComplete)>99){
                        document.getElementById('uploadStatus').innerHTML = 'Upload complete, Creating Embeddings.....'; 
                    }
                }
            };
    
            // When the upload is complete
            xhr.onload = function() {
                if (xhr.status == 200) {
                    // Reset the progress bar and status message
                    document.getElementById('uploadProgress').style.display="none";
                    document.getElementById('uploadProgress').value = 0; // Reset progress bar to 0
                    document.getElementById('uploadStatus').innerHTML = 'Embeddings Created'; // Update status text to show completion
                } else {
                    document.getElementById('uploadStatus').innerHTML = 'Error uploading file'; // Show error message
                }
            };
    
            xhr.send(formData); // Send the form data
        });

        function resetProgress() {
            document.getElementById('uploadSec').style.display="none";
            document.getElementById('uploadProgress').style.display="inline";
        }
    </script>
</body>
</body>
</html>